@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Marcellus-Regular.ttf');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Mulish-Light.ttf');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Mulish-Regular.ttf');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Mulish-Medium.ttf');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Mulish-SemiBold.ttf');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Mulish-Bold.ttf');
}
