/* =========================================================
    RESET & GLOBAL STYLES
========================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

p {
    color: #484848;
}


/* =========================================================
    CONTAINER LAYOUT
========================================================= */
.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}


/* =========================================================
    NAVBAR
========================================================= */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    background: transparent;
}

.navbar.is-active {
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(3px);
}

.nav-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo img {
    height: 32px;
    object-fit: contain;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 150px;
}

.nav-links li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Mulish';
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
}

.line {
    width: 25px;
    height: 3px;
    background: white;
}


/* =========================================================
    HERO SECTION
========================================================= */
.hero {
    position: relative;
    color: white;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    position: relative;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.hero .container {
    display: flex;
    height: 100%;
    align-items: center;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    text-align: left;
    position: relative;
}

.hero-content h1 {
    font-size: 27px;
    font-family: 'Marcellus';
    margin-bottom: 20px;
    color: #991B28;
}

.hero-content p {
    font-size: 20px;
    font-family: 'Mulish';
    color: #484848;
    margin-bottom: 30px;
}

.hero-cta-group {
    display: flex;
    gap: 10px;
}

.btn {
    color: white;
    text-transform: uppercase;
    border-radius: 25px;
    background: linear-gradient(90deg, #991B28 0%, #C14D4D 100%);
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    font-family: 'Mulish';
    font-weight: bold;
}


/* =========================================================
    FOOTER
========================================================= */
.footer {
    position: relative;
    overflow: hidden;
}

.footer .pattern-japan {
    position: absolute;
    top: -50%;
    left: -5%;
    width: 120%;
    z-index: -1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer-content img {
    width: 230px;
}

.footer-content .identity-content p {
    font-size: 14px;
    color: #484848;
}

.footer-content .information-content {
    display: flex;
    gap: 100px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.information-item {
    display: flex;
    gap: 10px;
}

.information-item img {
    width: 20px;
    height: 20px;
}

.information-item p,
.information-content li,
.information-content li a,
.information-content h3 {
    font-family: 'Mulish';
    font-size: 14px;
    color: #484848;
}

.information-content h3 {
    font-weight: bold;
    color: #101A24;
}

.information-content li {
    list-style: none;
}

.information-content li a {
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.footer .copyright {
    font-family: 'mulish';
    text-align: center;
    font-size: 14px;
    color: #484848;
    margin: 10px 0;
}